@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --light-blue: #364a63;
  --light-gray: #8091a7;
  --light-white-gray: #dbdfea;
  --purple: #6576ff;
  --black: #364a63;
  --white: #ffffff;
  --deep-yellow: #ffbb5a;
  --light-yellow: #ffcc85;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 4rem auto;
  width: 95%;
  display: block;
}
